<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)</head>
    <script src="~/Scripts/site.js"></script>

<body>
    <header>
        <div id="logo">
            <img src="@Url.Content("~/content/images/logo.png")" alt="Logo" />
        </div>
        <div id="user">
            <ul id="account">
                <li>Welcome Joe</li>
                <li>Edit Account</li>
                <li>Log out</li>
                <li>Change Customer</li>
            </ul>
            <div id="customer">
                Customer: <span id="btn-large">@Html.ActionLink("General Pants", "PickCustomer")</span>
            </div>
        </div>
    </header>
    <p style="clear: both"></p>
    <nav id="topnavbar">
        <ul id="navmenu">
            <li>@Html.ActionLink("Order History", "Orders")</li>
            <li>Stock Order</li>
            <li>Indent Order</li>
        </ul>
    </nav>

    @RenderBody()

</body>
</html>
