@model IEnumerable<SalesNet.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<img class="center" src="@Url.Content("~/content/images/promo_banner.jpg")" alt="Banner"/>

<h2 class="lightgrey page-title round bar">Order History</h2>
<div>
    <div id="ordersearch">
        <div class="green section-title bar">Order History Search</div>
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend></legend>
                @Html.Label("Product Code / Description")
                @Html.TextBox("ProductFilter", null, new { placeholder = "Code / Description" })
                @Html.Label("Transaction #")
                @Html.TextBox("TransNumber", null, new { placeholder = "Trans. #" })
                @Html.Label("Reference #")
                @Html.TextBox("CustRef", null, new { placeholder = "Reference" })
                @Html.Label("Created From")
                @Html.TextBox("CreatedDateFrom", null, new { placeholder = "Created Date From" })
                @Html.Label("Created To")
                @Html.TextBox("CreatedDateTo", null, new { placeholder = "Created Date To" })
                <input type="submit" Value="Search" />
            </fieldset>
        }
    </div>
    <div id="orderhistory-box">
        <table id="orderhistory-table">
            <tr class="green">
                <th style="text-align: left">Status</th>
                <th style="text-align: left">Trans. #</th>
                <th style="text-align: left">Reference</th>
                <th style="text-align: center">Created Date</th>
                <th style="text-align: right">Lines</th>
                <th style="text-align: right">Qty</th>
                <th style="text-align: right">Total (inc Tax)</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td style="text-align: left">@Html.DisplayFor(modelItem => item.TransNumber)</td>
                    <td style="text-align: left">@Html.DisplayFor(modelItem => item.CustomerReference)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.DueDateFrom)</td>
                    <td style="text-align: right">@Html.DisplayFor(modelItem => item.Lines)</td>
                    <td style="text-align: right">@Html.DisplayFor(modelItem => item.Ordered.Quantity)</td>
                    <td style="text-align: right">@Html.DisplayFor(modelItem => item.Ordered.Net)</td>
                </tr>
            }
        </table>
    </div>
</div>
