@model SalesNet.Models.OrderPageData

@{
    ViewBag.Title = "Orders";
}

<img class="center" src="@Url.Content("~/content/images/promo_banner.jpg")" alt="Banner"/>

<h2 class="lightgrey page-title round bar">Order History</h2>
<div>
    <div id="ordersearch">
        <div class="green section-title bar">Order History Search</div>

        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "orderhistory-box" }))
        {
            <fieldset>
                <legend></legend>
                @Html.Label("Product Code / Description")
                @Html.TextBox("ProductFilter", null, new { placeholder = "Code / Description" })
                @Html.Label("Transaction #")
                @Html.TextBox("TransNumber", null, new { placeholder = "Trans. #" })
                @Html.Label("Reference #")
                @Html.TextBox("CustRef", null, new { placeholder = "Reference" })
                @Html.Label("Created From")
                @Html.TextBox("CreatedDateFrom", null, new { placeholder = "Created Date From" })
                @Html.Label("Created To")
                @Html.TextBox("CreatedDateTo", null, new { placeholder = "Created Date To" })
                <input type="submit" value="Search" />
            </fieldset>
        }
    </div>
    <div id="orderhistory-box">
        @{Html.RenderPartial("OrdersTable", Model);}
    </div>
</div>
