@model IEnumerable<SalesNet.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<img class="center" src="@Url.Content("~/content/images/promo_banner.jpg")" alt="Banner"/>

<h2 class="lightgrey page-title round bar">Order History</h2>
<div>
    <div id="ordersearch">
        <div class="green section-title bar">Order History Search</div>
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend></legend>
                @Html.Label("Product Code & Description")
                @Html.TextBox("ProductFilter")
                @Html.Label("Transaction #")
                @Html.TextBox("TransNumber")
                @Html.Label("Reference #")
                @Html.TextBox("CustRef")
                @Html.Label("Created From")
                @Html.TextBox("CreatedDateFrom")
                @Html.Label("Created To")
                @Html.TextBox("CreatedDateTo")
                <input type="submit" Value="Search" />
            </fieldset>
        }
    </div>
    <div id="orderhistory-box">
        <table id="orderhistory-table">
            <tr class="green">
                <th>Status</th>
                <th>@Html.DisplayNameFor(model => model.TransNumber)        </th>
                <th>@Html.DisplayNameFor(model => model.CustomerReference)        </th>
                <th>@Html.DisplayNameFor(model => model.DueDateFrom)        </th>
                <th>@Html.DisplayNameFor(model => model.Lines)        </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(modelItem => item.TransNumber)        </td>
                    <td>@Html.DisplayFor(modelItem => item.CustomerReference)        </td>
                    <td>@Html.DisplayFor(modelItem => item.DueDateFrom)        </td>
                    <td>@Html.DisplayFor(modelItem => item.Lines)        </td>
                </tr>
            }

        </table>
    </div>
</div>
