@model SalesNet.Models.OrderPageData

<div id="tabs">
    <ul>
        <li id="activetab">
            @Ajax.ActionLink("Orders",
                             "Orders",
                             new SalesNet.Models.OrderFilters
                             {
                                 ProductFilter = Model.Filters.ProductFilter,
                                 TransNumber = Model.Filters.TransNumber,
                                 CustRef = Model.Filters.CustRef,
                                 CreatedDateFrom = Model.Filters.CreatedDateFrom,
                                 CreatedDateTo = Model.Filters.CreatedDateTo,
                                 PageRows = Model.Filters.PageRows,
                                 StartRow = Model.Filters.StartRow,
                                 TransType = "Orders"
                             },
                             new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "orderhistory-box" })
        </li>
        <li>
            @Ajax.ActionLink("Invoices",
                             "Orders",
                             new SalesNet.Models.OrderFilters
                             {
                                 ProductFilter = Model.Filters.ProductFilter,
                                 TransNumber = Model.Filters.TransNumber,
                                 CustRef = Model.Filters.CustRef,
                                 CreatedDateFrom = Model.Filters.CreatedDateFrom,
                                 CreatedDateTo = Model.Filters.CreatedDateTo,
                                 PageRows = Model.Filters.PageRows,
                                 StartRow = Model.Filters.StartRow,
                                 TransType = "Invoices"
                             },
                             new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "orderhistory-box" })
        </li>
        <li>
            @Ajax.ActionLink("Credits",
                             "Orders",
                             new SalesNet.Models.OrderFilters
                             {
                                 ProductFilter = Model.Filters.ProductFilter,
                                 TransNumber = Model.Filters.TransNumber,
                                 CustRef = Model.Filters.CustRef,
                                 CreatedDateFrom = Model.Filters.CreatedDateFrom,
                                 CreatedDateTo = Model.Filters.CreatedDateTo,
                                 PageRows = Model.Filters.PageRows,
                                 StartRow = Model.Filters.StartRow,
                                 TransType = "Credits"
                             },
                             new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "orderhistory-box" })
        </li>
    </ul>
</div>

<table id="orderhistory-table">
    <thead>
        <tr class="green" id="orderhistory-tablehdr">
            <th id="orderhistory-showdetscol"></th>
            <th class="textleft" id="orderhistory-statuscol">Status</th>
            <th class="textleft" id="orderhistory-transnumcol">Trans. #</th>
            <th class="textleft" id="orderhistory-refcol">Reference</th>
            <th class="textcenter" id="orderhistory-createdcol">Created Date</th>
            <th class="textright" id="orderhistory-linescol">Lines</th>
            <th class="textright" id="orderhistory-qtycol">Qty</th>
            <th id="orderhistory-detslabelcol"></th>
            <th class="textright" id="orderhistory-totalcol">Total (inc Tax)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders.OrderList)
        {
            <tr class="orderhistory-summary">
                <td><a class="showdets ui-icon ui-icon-triangle-1-s"></a></td>
                <td></td>
                <td class="textleft">@Html.DisplayFor(modelItem => item.TransNumber)</td>
                <td class="textleft">@Html.DisplayFor(modelItem => item.CustomerReference)</td>
                <td class="textcenter">@Html.DisplayFor(modelItem => item.DueDateFrom)</td>
                <td class="textright">@Html.DisplayFor(modelItem => item.Lines)</td>
                <td class="textright">@Html.DisplayFor(modelItem => item.Ordered.Quantity)</td>
                <td></td>
                <td class="textright">@Html.DisplayFor(modelItem => item.Ordered.Value)</td>
            </tr>
            <tr class="orderhistory-detail">
                <td>
                    <div class="hidden"></div>
                </td>
                <td>
                    <div class="hidden"></div>
                </td>
                <td>
                    <div class="hidden"></div>
                </td>
                <td>
                    <div class="hidden">
                        <strong>Deliver To</strong><br />
                        @Html.DisplayFor(modelItem => item.Addresses.DeliveryAddress.AddressLine1)<br />
                        @Html.DisplayFor(modelItem => item.Addresses.DeliveryAddress.AddressLine2)<br />
                        @Html.DisplayFor(modelItem => item.Addresses.DeliveryAddress.City)<br />
                        @Html.DisplayFor(modelItem => item.Addresses.DeliveryAddress.State)<br />
                        @Html.DisplayFor(modelItem => item.Addresses.DeliveryAddress.Postcode)
                    </div>
                </td>
                <td class="textcenter">
                    <div class="hidden">
                        <strong>Due Date</strong><br />
                        @Html.DisplayFor(modelItem => item.DueDateFrom)
                    </div>
                </td>
                <td>
                    <div class="hidden"></div>
                </td>
                <td>
                    <div class="hidden"></div>
                </td>
                <td>
                    <div class="hidden">
                        <strong>Gross:<br />
                            Discount:<br />
                            Tax:<br />
                            Due:
                        </strong>
                    </div>
                </td>
                <td class="textright">
                    <div class="hidden">
                        @Html.DisplayFor(modelItem => item.Ordered.Gross)<br />
                        @Html.DisplayFor(modelItem => item.Ordered.Discount)<br />
                        @Html.DisplayFor(modelItem => item.Ordered.Tax)<br />
                        @Html.DisplayFor(modelItem => item.Ordered.Value)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Ajax.ActionLink("Prev",
                     "Orders",
                     new SalesNet.Models.OrderFilters
                     {
                         ProductFilter = Model.Filters.ProductFilter,
                         TransNumber = Model.Filters.TransNumber,
                         CustRef = Model.Filters.CustRef,
                         CreatedDateFrom = Model.Filters.CreatedDateFrom,
                         CreatedDateTo = Model.Filters.CreatedDateTo,
                         PageRows = Model.Filters.PageRows,
                         StartRow = (Model.Filters.StartRow > 10) ? Model.Filters.StartRow - 10 : 1,
                         TransType = Model.Filters.TransType
                     },
                     new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "orderhistory-box" })
</div>
<div>
    @Ajax.ActionLink("Next",
                     "Orders",
                     new SalesNet.Models.OrderFilters
                     {
                         ProductFilter = Model.Filters.ProductFilter,
                         TransNumber = Model.Filters.TransNumber,
                         CustRef = Model.Filters.CustRef,
                         CreatedDateFrom = Model.Filters.CreatedDateFrom,
                         CreatedDateTo = Model.Filters.CreatedDateTo,
                         PageRows = Model.Filters.PageRows,
                         StartRow = (Model.Filters.StartRow + 10 <= Model.Orders.TotalRows) ? Model.Filters.StartRow + 10 : Model.Filters.StartRow,
                         TransType = Model.Filters.TransType
                     },
                     new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "orderhistory-box" })           
</div>


